<section class='feed'>
  <%= render 'layouts/shared/user_info_menu' %>

  <section class='book-info'>
    <% if @book.images.attached? %>
      <% @book.images.each do |image| %>
        <%= image_tag(image.variant(resize_to_fit: [200, 200])) %>
      <% end %>
    <% end %>
    <h1><%= @book.title %></h1>
    <h3><%= @book.author %></h3>
    <p><%= @book.description %></p>

    <%= link_to 'Voltar', books_path %>
  </section>

  <%= render 'layouts/shared/user_side_menu' %>
</section>
